{% extends 'base.html' %}
{% block title %}About While'd Child{% endblock %}

{% block body%}
<body class="profile">
    <br><br>
<div class="container user-profile">
    <h1> What is While'd Child?</h1>
    <div class="dropdown-divider"></div>
    <p>Welcome to While'd Child – this is a community where we share activity ideas for kids of all ages!<br> 
    Whether you’re a parent, caregiver or teacher, there is something for everyone here!</p>
    






</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
{% endblock %}