{% extends 'base.html' %}

{% block title %}{{ activity.activity_name }} - Details{% endblock %}


{% block body %}

<body id="profile">
<div class="container user-profile">
<div class="row">
    <div class="col-2 offset-10">
        {% if session['loggedin']%}
        <form action='/activity/add_favorite/{{activity.activity_id}}' id="fav" method='post'>
            <button type="submit" class="btn btn-primary btn-rounded btn-sm float-right">Favorite<i class="fas fa-heart ml-2" id="heart" aria-hidden="true"></i></button>
        </form>
        {% endif %}
    </div>
</div>

    <h1 class="activity-title">{{ activity.activity_name }}</h1>
    <div class="dropdown-divider"></div>

    <small class="form-text text-muted">{{avg_rating}}/5 stars from {{rating_count}} reviewers</small>


<p class="activity-text">
    {% for i in activity.activity_description.values() %}
        {% for j,k in i.items() %}
        {% if j == "photo" %}
            <img class="activity-image" src="{{k}}">
        {% else %}
            <p class="activity-text">{{k}}</p>
        {% endif %}
    {% endfor %}
    {% endfor %}

</p>
</div>
{% if session['loggedin']%}
    <div class="container user-profile">
    <h5>Comment on {{ activity.activity_name }}</h5>
    <div class="dropdown-divider"></div>
    <div>
    <form action='/activity/add_comment/{{activity.activity_id}}' method='post'>
        <div class="form-group">
        <div class="star-group" >
            <input class="star-radio" type="radio" id="rating-1" name="rating" value=1>
            <label class="star" for="rating-1"></label>
            <input class="star-radio" type="radio" id="rating-2" name="rating" value=2>
            <label class="star" for="rating-2"></label>
            <input class="star-radio" type="radio" id="rating-3" name="rating" value=3>
            <label class="star" for="rating-3"></label>
            <input class="star-radio" type="radio" id="rating-4" name="rating" value=4>
            <label class="star" for="rating-4"></label>
            <input class="star-radio" type="radio" id="rating-5" name="rating" value=5>
            <label class="star" for="rating-5"></label>
        </div>  
        <br>
        <br>
        <textarea class="form-control" rows="5" name="comment">Comment</textarea>
        <br>
        <input class="btn btn-light btn-sm" type="submit" value="Submit" >
        </div>
    </form>
    </div>
    </div>
{% endif %}

<div class="container user-profile">
<h5>Activity Comments</h5><br>
<div class="dropdown-divider"></div>
    {% for i in activity.comments %}
        {{i.comment_text}}<br>
        {{i.star_rating}}/5 <br>
        <small class="form-text text-muted">
            Reviewed on: {{i.timestamp.strftime('%m-%d-%Y')}}<br> by
            {% for j in i.users %}
            {{j.username}}<br>
            </small>
            {% endfor %}
            <div class="dropdown-divider"></div>
    {% endfor %}
        </br>
    </div>
        

</div>    
</div>
</body>
{% endblock %}

