{% extends 'base.html' %}
{% block title %}New User Registration{% endblock %}

{% block body%}
<form action='/add_child' method='post'>
<div id='child'>
    <div class = 'section'>
<input type ='text' name='child_name'> Name </br>
<input type ='date' name='birthdate'> Birthdate </br>
<input type ='radio' name='gender' value='male'> Male </br>
<input type ='radio' name='gender' value='female'> Female </br>
<input type='checkbox' name='interests[]' value='pottery'>Pottery<br/>
<input type='checkbox' name='interests[]' value='dancing'>Dancing<br/>
<input type='checkbox' name='interests[]' value='singing'> Singing <br/>
<input type='checkbox' name='interests[]' value='magic'>Magic<br/>
</div>
</div>
<input type='submit'>
</form>
{% endblock %}
