{% extends 'base.html' %}
{% block title %}Edit Your Child's Profile{% endblock %}

{% block body%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
<h4>Edit {{child.child_name}}'s Profile</h4><br>
<form action='/edit_child/{{child.child_id}}' method='post' >
    <h6>Select an Avatar:</h6><br>
                    <div class='form-check'>
                        <div class="form-check form-check-inline">
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl1.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl1.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl2.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl2.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl3.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl3.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl4.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl4.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl5.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl5.png"></br>
                            </div>   
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl6.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl6.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl7.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl7.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl8.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl8.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl9.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl9.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl10.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl10.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl11.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/girl11.png"></br>
                            </div>
                        </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/boy1.png">
                                    <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy1.png"></br>
                                </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy2.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy2.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy3.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy3.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy4.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy4.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy5.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy5.png"></br>
                            </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/boy6.png">
                                    <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy6.png"></br>
                                </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy7.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy7.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy8.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy8.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy9.png">
                                <input class="form-check-input" type ='radio' name="child_photo" value="/static/img/boy9.png"></br>
                            </div>
                            </div>
                        </div>
    <br><br>
    <h6>Child's Interests:</h6><br>
    <div class="form-check">
        {% set interest_list = [] %}
        {% for interest in child.interests %} 
            {{interest_list.append(interest.interest_id)  or "" }}
        {% endfor %}
    {% for interest in interests %}
    <input class="form-check-input" type="checkbox"  {%  if interest.interest_id in interest_list %} checked="checked" {% endif %} name='interests[]' value={{interest.interest_id}}> {{interest.interest_name}} <br/>
    {% endfor %}
    </div><br>
        <input class="btn btn-light" type='submit'>
</form>
    </div>  
                
{% endblock %}
