{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body%}
<body id="main">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
      {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="container" id="search-container"> 
    <h2>Search for Activities</h2>
    <p>Welcome back, {{ name }}!</p>
    <div class="form-row">
      <div class="col-11">
        <form action='/basic_search'>
          <input type="text" class="form-control" name="basic_search">
      </div>
      <div class="input-group-append">
        <input class="btn btn-info" type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>

<div class="container" id="featured-container">
  <h4>Recently Added Activities</h4>
<div class="card-deck">
  <div class="card-columns">
    {% for activity in activities %}
  <div class="card">
    <img class="card-img-top" src="{{activity.activity_description['overview']['photo']}}"><br><br>
    <div class='card-title'>
      <a  href="{{url_for('show_activity', activity_id = activity.activity_id)}}"><h6>{{activity.activity_name}}</h6></a>
    </div>
    <div class="card-body">
      
      <small class="form-text text-muted float-right align-bottom">
        Added on {{activity.timestamp.strftime('%m-%d-%Y')}}
      </small>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
</body>

