{% extends 'base.html' %}
{% block title %}New Activity{% endblock %}

{% block body%}
<h1>Create a new activity</h1>
<div>please appear!!</div>
<form action='/new_activity' method='post'>
    <input type ='text' name='activity_name'> Activity Name </br>
    <textarea rows="6" cols="60" name='overview'> Activity Overview </textarea></br>
    <input type ='text' name='overview_pic'> Activity Picture </br>
    <textarea rows="6" cols="60"  name='step_1'> Step 1 </textarea></br>
    <input type ='text' name='photo_1'> Step 1 Photo </br>
    <textarea rows="6" cols="60"  name='step_2'> Step 2 </textarea></br>
    <input type ='text' name='photo_2'> Step 2 Photo </br>
    <textarea rows="6" cols="60"  name='step_3'> Step 3 </textarea></br>
    <input type ='text' name='photo_3'> Step 3 Photo </br>
    <textarea rows="6" cols="60"  name='step_4'> Step 4 </textarea></br>
    <input type ='text' name='photo_4'> Step 4 Photo </br>
    <textarea rows="6" cols="60"  name='step_5'> Step 5 </textarea></br>
    <input type ='text' name='photo_5'> Step 5 Photo</br>
    <textarea rows="6" cols="60"  name='step_6'> Step 6 </textarea></br>
    <input type ='text' name='photo_6'> Step 6 Photo</br>
    <select id="rating" name="effort_rating">
        <option value='Quick and easy' >Quick and easy </option>
        <option value='A little involved' >A little involved </option>
        <option value='Somwhat time intensive' >Somwhat time intensive </option>
        <option value= 'Maximum effort required' >Maximum effort required </option>
    </select>
    <select id="location" name="location">
        <option value='indoors'>Indoors </option>
        <option value='outdoors'>Outdoors</option>
        <option value='indoors/outdoors'>Indoors and outdoors</option>
    </select>
    <input type ='number' name='min_age'> Minimum Age </br>
    <input type ='number' name='max_age'> Maximum Age </br>
    <input type ='number' name='min_cost'> Minimum Cost </br>
    <input type ='number' name='max_cost'> Maximum Cost </br>
<h3>Materials:</h3>
{% for material in materials %}
<input type='checkbox' name='materials[]' value={{material.material_id}}> {{material.material_name}} <br/>
{% endfor %}
</div>
<div>
<h3>Interests:</h3>
    {% for interest in interests %}
    <input type='checkbox' name='interests[]' value={{interest.interest_id}}> {{interest.interest_name}} <br/>
    {% endfor %}
    </div>
<div>
    <h3>Time of the Year:</h3>
    {% for time_period in time_periods %}
    <input type='checkbox' name='time_periods[]' value={{time_period.time_period_id}}> {{time_period.time_period_name}} <br/>
    {% endfor %}
    </div>
    <input type='submit'>
{% endblock %}