{% extends 'base.html' %}
{% block title %}Edit Your Profile{% endblock %}

{% block body%}

<div class="container">
<h1>Edit Your Profile</h1>


<form action='/profile/edit' method='post'>
    <div id='user'>
        <div class = 'section'>

    <input type ='text' name='last_name' value= {{user.last_name}} > </br>
    <input type ='text' name='username' value= {{user.username}} > </br>
    <input type ='text' name='email' value={{user.email}} > </br>
    <input type ='text' name='password' value={{user.password}} >  </br>
    <input type ='text' name='zipcode' value={{user.zipcode}} > </br>
    </br>
    </div>
    </div>
    <input type='submit' value='Update'>
</form>
</div>
{% endblock %}
