{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %}

{% block body%}
<body id="profile">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container user-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{user.photo}}"><br><br><br>
                <button type="button" class="file btn btn-sm btn-primary" data-toggle="modal" data-target="#photoModal">
                    Change Avatar
                </button>
            <div class="row">
                <div class="col-md-10">
                    <div class="profile-activities">
                        <h6>ACCOUNT INFORMATION</h6><br>
                        <p>Username: {{user.username}}<br>
                        Email Address: {{user.email}}<br>
                        Zipcode: {{user.zipcode}}</p>
                        <br>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="col-md-8">
            <div class="profile-head">
                <h2>{{user.first_name}} {{user.last_name}}</h2><br>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">My Kids</a>
                        </li>
                    </ul>
            </div>
                {% for i in user.children%}
                <div class="row">
                    <div class='kid-card col-11 mb-3'>
                        <div class='row no-gutters'>
                            <div class='col-md-2'>
                                <img class='kid-card-img' src="{{i.photo}}">
                            </div>
                            <div class='col-md-10'> 
                                <div class='card-header'><b>{{i.child_name}}</b></div>
                                    <h5 class='card-title'></h5>
                                        <p class='card-text'><b>Birthdate: </b> {{i.birthdate}} <br>
                                            <p><b>Interests:</b>
                                                {% for l in i.interests %}
                                                <li>{{l.interest_name}}</li>
                                                {% endfor %}</p>
                                            <br>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <form action='/suggest_activities'>
                                                <button class="btn btn-outline-secondary btn-sm" name="personal_activity" value={{i.child_id}}>Suggest Activities for {{i.child_name}}</button>
                                            </form>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                                <a class="btn btn-outline-secondary btn-sm" href="{{url_for('edit_child', child_id=i.child_id)}}" name="edit_child" value={{i.child_id}}>Edit {{i.child_name}}'s Profile</a>
                                            </div>
                                            </div>
                            </div>  
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-3 offset-9">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#childModal">Add a Child</button>
                    </div>
                </div>
            <div class="profile-head">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active">My Favorite Activities</a>
                    </li>
                </ul>
            </div>
            {% for i in user.activities %} 
            <div class="row">
                <div class='kid-card mb-3'>
                    <div class='row no-gutters'>
                    <div class='col-md-2'>
                        <img class='card-img' src="{{i.activity_description['overview']['photo']}}">
                    </div>
                    <div class='col-md-10'> 
                        <div class='card-header'>
                        <a href="{{url_for('show_activity', activity_id = i.activity_id)}}">{{i.activity_name}}</a>
                    </div>
                        <h5 class='card-title'></h5>
                        <p class='card-text'>{{i.activity_description['overview']['Overview']}}</p>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Your User Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action='/profile_edit' method="POST">
                <h6>Last Name</h6>                
                <input class="form-control" type='text' name='last_name' value= {{user.last_name}} > </br>
                <label>Username</label> 
                <input class="form-control" type='text' name='username' value= {{user.username}} > </br>
                <label>Email</label> 
                <input class="form-control" type='text' name='email' value={{user.email}} > </br>
                <label>Password</label> 
                <input class="form-control" type='text' name='password' value={{user.password}} >  </br>
                <label>Zipcode</label> 
                <input class="form-control" type='text' name='zipcode' value={{user.zipcode}} > </br>
                <input type='submit' value='Update'>
            </form>
            </div>
        </div>  
            <div class="modal-footer"></div>
    </div>
</div>

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Your Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form action='/change_photo' method='post' >
                <h6>Select an Avatar:</h6><br>
                    <div class='form-check'>
                        <div class="form-check form-check-inline">
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman1.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman1.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman2.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman2.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman3.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman3.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman4.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman4.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman5.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman5.png"></br>
                            </div>   
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman6.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman6.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman7.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman7.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman8.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman8.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman9.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman9.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman10.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman10.png"></br>
                            </div>
                        </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/woman11.png">
                                    <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman11.png"></br>
                                </div>
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/woman5.png">
                                    <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman5.png"></br>
                                </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/woman13.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/woman13.png"></br>
                            </div>
                            </div>
                        </div>
                    </div><br>
                <input class="btn btn-light" type='submit'>
            </form>
        </div>  
        <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a Child</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form action='/add_child' method='post' >
                <label>First Name:</label>
                <input class="form-control" type ='text' name='child_name'><br>
                <h6>Birthdate:</h6><br>
                <input type ='date' name='birthdate'><br><br>
                <h6>Gender:</h6><br>
                    <div class='form-check'>
                        <input class="form-check-input" type="radio" name='gender' id="malegender" value='male'>
                        <label class="form-check-label" >Male</label><br>
                        <input class="form-check-input" type ='radio' name='gender' value='female'>
                        <label class="form-check-label" >Female</label><br>
                        <input class="form-check-input" type ='radio' name='gender' value='other'>
                        <label class="form-check-label" >Prefer not to say</label><br>
                        <br>
                    </div>
                    <h6>Select an Avatar:</h6><br>
                    <div class='form-check'>
                        <div class="form-check form-check-inline">
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl1.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl1.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl2.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl2.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl3.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl3.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl4.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl4.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl5.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl5.png"></br>
                            </div>   
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl6.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl6.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl7.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl7.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl8.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl8.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl9.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl9.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl10.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl10.png"></br>
                            </div>
                            <div class="form-check form-check-inline">
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/girl11.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/girl11.png"></br>
                            </div>
                            </div>
                        </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/boy1.png">
                                    <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy1.png"></br>
                                </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy2.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy2.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy3.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy3.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy4.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy4.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy5.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy5.png"></br>
                            </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="card-av" style="width: 5rem;">
                                    <img class="card-img-top-av" src="/static/img/boy6.png">
                                    <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy6.png"></br>
                                </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy7.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy7.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy8.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy8.png"></br>
                            </div>
                            <div class="card-av" style="width: 5rem;">
                                <img class="card-img-top-av" src="/static/img/boy9.png">
                                <input class="form-check-input" type ='radio' name='userphoto' value="/static/img/boy9.png"></br>
                            </div>
                            </div>
                        </div>
                <h6>Child's Interests:</h6>
                    <div class="form-check">
                        {% for interest in interests %}
                            <input class="form-check-input" type="checkbox" name='interests[]' value={{interest.interest_id}}>
                            <label class="form-check-label">{{interest.interest_name}}</label><br>
                        {% endfor %}
                    </div>
                <input class="btn btn-light" type='submit'>
            </form>
        </div>  
        <div class="modal-footer"></div>
        </div>
    </div>
</div>
</body>
{% endblock %}
