{% extends 'base.html' %}
{% block title %}Success{% endblock %}

{% block body%}

<h1>Child added</h1>

<a class="nav-link" href="{{ url_for('profile') }}">return to profile</a></li>


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  font-size: 50px;
  color: #00000030; 
  cursor: pointer;
  user-select: none;
}

.fa:hover  {
  color: red;
 
}
</style>
</head>
<body>

<p>Click on the icon to toggle between thumbs-up and thumbs-down (like/dislike):</p>

<i onclick="myFunction(this)" class="fa fa-heart-o"></i>

<script>
function myFunction(x) {
  x.classList.toggle("fa-heart");
}
</script>

</body>
</html>


{% endblock %}