{% extends 'base.html' %}
{% block title %}Suggested Activities{% endblock %}
{% block body%}

  <title>Suggested Activities</title>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
          </div>
      {% endfor %}
  {% endif %}
{% endwith %}
<div class="container user-profile">
  {% for activity in personal_activity %}
  <div class="container">
  <div class='card mb-3' style='max-width: 900px;'>
    <div class='row no-gutters'>
      <div class='col-md-3'>
        <img class='card-img' src="{{activity.activity_description['overview']['photo']}}">
        
      </div><div class='col-md-9'> 
        <div class='card-header'>{{activity.activity_name}}</div>
        <h5 class='card-title'></h5>
        <p class='card-text'>{{activity.activity_description['overview']['Overview']}}</p>
        <a href="{{url_for('show_activity', activity_id = activity.activity_id)}}">Link</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}

